# Dependencias de Node (usando pnpm)
node_modules/

# Archivos compilados (El resultado de pasar de TypeScript a JavaScript)
dist/
build/
.output/

# Reportes de pruebas (Tests coverage)
coverage/
.nyc_output/

# Variables de entorno
.env
.env.*

# Logs y archivos del sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
Thumbs.db